{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Contacts {% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body_header %}
    <div class="col">
        <h1 class="m-0 text-dark">Listes des contacts </h1>
    </div>
    <div class="col">

    </div>
    <div class="col">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item active">Contact</li>
        </ol>
    </div>
{% endblock %}

{% block body %}



    <h3 id="anchor_admin" class="text-purple m-5">
        <small><i class="fa fa-user-cog"></i></small>
        {% if usersAdmin | length >0 %}
            Les {{ usersAdmin | length }}  administrateurs
        {% else %}
            L'administrateur
        {% endif %}
    </h3>

    <div class="row " >

        {% for user in usersAdmin %}
            {{ include('user/_carte_visite.html.twig') }}
        {% else %}
            <div class="row">
                <div class="jumbotron"> Pas d'enregistrements</div>
            </div>
        {% endfor %}

    </div>

    <h3 id="anchor_gestionnaire" class="text-purple m-5">
        <small><i class="fa fa-user-astronaut"></i></small>

        {% if usersGestionnaire | length >0 %}
            Les {{ usersGestionnaire | length }}  gestionnaires
        {% else %}
            Le gestionnaire
        {% endif %}
    </h3>
    <div class="row ">
        {% for user in usersGestionnaire %}
            {{ include('user/_carte_visite.html.twig') }}
        {% else %}
            <div class="row">
                <div class="jumbotron"> Pas d'enregistrements</div>
            </div>
        {% endfor %}
    </div>


{% endblock %}


{% block javascripts %}
{% endblock %}