{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Civilités {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css')) }}">
    <link rel="stylesheet"
          href="{{ absolute_url( asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css')) }}">
{% endblock %}

{% block body_header %}
    {{ include('admin/_body_header.html.twig', {'domaine': 'Civilités' }) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tableAdministration" class="table table-striped table-condensed "
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th class="all">#</th>
                                    <th class="all">Nom</th>
                                    <th class="desktop text-center">
                                        <i class="fa fa-user" data-toggle="tooltip" data-placement="top"
                                           title="Nombre de contact'"></i>
                                    </th>
                                    <th class="all text-center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for civilite in civilites %}
                                    <tr>
                                        <td>{{ civilite.id }}</td>
                                        <td class="text-{{ civilite.enable ? 'gray-dark' : 'danger text-bold' }}">
                                            {{ civilite.name }}

                                        </td>
                                        <td class="text-center">

                                        </td>


                                        <td class=" d-flex  justify-content-end ">

                                            {{ include('share/__btn_show.html.twig',
                                                {   'url':'civilite_show',
                                                    'id':civilite.id,
                                                    'mr':true,
                                                    'sm':true,
                                                }) }}

                                            {% if is_granted('ROLE_GESTIONNAIRE') %}
                                                {{ include('share/__btn_edit.html.twig',
                                                    {   'url':'civilite_edit',
                                                        'id':civilite.id,
                                                        'sm':true,
                                                    }) }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">Aucun d'enregistrement</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                {% if is_granted('ROLE_GESTIONNAIRE') %}
                    <div class="card-header">
                        {{ include('share/__btn_new.html.twig',
                            {'url':'civilite_new'}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ absolute_url( asset('plugins/datatables/jquery.dataTables.js')) }}"></script>
    <script src="{{ absolute_url( asset('plugins/datatables-bs4/js/dataTables.bootstrap4.js')) }}"></script>
    <script src="{{ absolute_url( asset('plugins/datatables-responsive/js/dataTables.responsive.min.js')) }}"></script>
    <script src="{{ absolute_url( asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url( asset('js/datatables/civilite.js')) }}"></script>
{% endblock %}