<table id="tableAdministration" class="table table-striped projects  bg-white"
       style="width:100%">
    <thead>
    <tr>
        <th class="align-middle">Nom</th>
        <th class="align-middle">téléphone principal</th>
        <th class="align-middle">téléphone secondaire</th>
        <th class="align-middle">Mail principal</th>
        <th class="align-middle">Mail secondaire</th>
        <th class="align-middle">Rue</th>
        <th class="align-middle">Complément</th>
        <th class="align-middle">Code postal</th>
        <th class="align-middle">Description</th>
    </tr>
    </thead>
    <tbody>
    {% for partenaire in partenaires %}
        <tr>
            <td class="align-middle">
                <a href="{{ path('partenaire_show',{id:partenaire.id}) }}">
                    {{ partenaire.name }}
                </a>
            </td>
            <td class="text-center  align-middle">
                {{ partenaire.phone1 }}
            </td>
            <td class="text-center  align-middle">
                {{ partenaire.phone2 }}
            </td>
            <td class="talign-middle">
                {% if partenaire.mail1 %}
                    <a href="mailto:// {{ partenaire.mail1 }}">
                        {{ partenaire.mail1 }}
                    </a>
                {% endif %}
            </td>

            <td class="talign-middle">
                {% if partenaire.mail2 %}
                    <a href="mailto:// {{ partenaire.mail2 }}">
                        {{ partenaire.mail2 }}
                    </a>
                {% endif %}
            </td>
            <td class="align-middle">
                {{ partenaire.addComp1 }}
            </td>
            <td class="align-middle">
                {{ partenaire.addComp2 }}
            </td>
            <td class="align-middle">
                {{ partenaire.addCp }}
            </td>
            <td class="project-actions text-right">
                {{ partenaire.content |raw}}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">Aucun d'enregistrement</td>
        </tr>
    {% endfor %}
    </tbody>
</table>