{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Récupérer votre mot de passe {% endblock %}

{% block body_header %}
    {{ include ('profil/_profil_body_header.html.twig', {'domaine':'Récupération'}) }}
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-xs-12 col-lg-6  ">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Saisir votre adresse mail</h3>
                </div>
                <div class="card-body ">
                    {{ form_start(form) }}
                    <div class="form-group row">
                        {{ form_label(form.email,'', { 'label_attr': {'class':'col-sm-3 col-form-label' }}) }}
                        <div class="col">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                    </div>

                    <p class="text-center">
                        <button name="f" id="recover" class="btn btn-info mb-4">
                            Récupération
                        </button>
                    </p>
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-12 d-flex justify-content-start">
                    <h5>
                        <a href="{{ path('user_login') }}"
                           title="Déjà un compte ?">
                            Déjà un compte ?
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}