<div class="card-body">
    <div class="row">

        <div class="col-12">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="row">

        <div class="col-10">
            {{ form_row(form.referent) }}
        </div>
    </div>
    <div class="row">

        <div class="col-10">
            {{ form_row(form.contacts) }}
        </div>
    </div>
    <div class="row">

        <div class="col-10">
            {{ form_row(form.category) }}
        </div>
    </div>
    {{ form_row(form.content) }}
</div>