{% extends 'base.html.twig' %}

{% set title='Fonctions' %}
{% set route_index='fonction_index' %}
{% set entityName='fonction' %}

{% block title %}{{ parent() }} {{title}}{% endblock %}

{% block stylesheets %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/select2/css/select2.min.css')) }}">
    <link rel="stylesheet"
          href="{{ absolute_url( asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')) }}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css')) }}">
{% endblock %}

{% block body_header %}
    {{ include('admin/_body_header.html.twig', {domaine: title , index: route_index}) }}
{% endblock %}

{% block sidebar_sommaire %}

{% endblock %}

{% block sidebar_button %}

    {{ include('share/__btn_save_onclick.html.twig') }}

    <span class="mb-3"></span>

    {{ include('share/__btn_return_list.html.twig',
        {   url:route_index
        }) }}

{% endblock %}

{% block body %}


    {{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="{{col_primary}}">
            <div class="card ">
                {{ include(entityName ~ '/_form.html.twig') }}
            </div>
        </div>

    </div>
    <div class="d-none">
        {{ include('share/__btn_save.html.twig') }}
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <!-- Select2 -->
    <script src="{{ absolute_url( asset('plugins/select2/js/select2.full.min.js')) }}"></script>
    <script src="{{ absolute_url( asset('js/add_sidebar.js')) }}"></script>
{% endblock %}
