{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Administration {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css')) }}">
{% endblock %}

{% block body_header %}
    <div class="col">
        <h1 class="m-0 text-dark">Administration </h1>
    </div>
    <div class="col">

    </div>
    <div class="col">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{{ path('admin_home') }}">Administration</a></li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    <div class="row  justify-content-md-center">
        <div class="col-6">
            <h3 id="anchor_organisme" class="text-purple">
                <small><i class="fas fa-cog"></i> Application</small>
            </h3>
            <div class="card">
                <div class="card-body p-0">
                    <table class="table">
                        <tbody>
                        {% if is_granted('ROLE_USER') %}
                            {{ include('admin/_entree_unitaire.html.twig',{'title':'Utilisateur', 'domaine':'user'} ) }}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 id="anchor_organisme" class="text-purple">
                <small><i class="fas fa-users"></i>Partenaire</small>
            </h3>
            <div class="card">
                <div class="card-body p-0">
                    <table class="table">
                        <tbody>
                        {% if is_granted('ROLE_USER') %}
                            {{ include('admin/_entree_unitaire.html.twig',{'title':'Ville', 'domaine':'city'} ) }}
                            {{ include('admin/_entree_unitaire.html.twig',{'title':'Catégorie', 'domaine':'category'} ) }}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_GESTIONNAIRE') %}
            <div class="col-6">
                <h3 id="anchor_organisme" class="text-purple">
                    <small><i class="fas fa-users"></i>Contact</small>
                </h3>
                <div class="card">
                    <div class="card-body p-0">
                        <table class="table">
                            <tbody>
                            {% if is_granted('ROLE_USER') %}
                                {{ include('admin/_entree_unitaire.html.twig',{'title':'Civilité', 'domaine':'civilite'} ) }}
                                {{ include('admin/_entree_unitaire.html.twig',{'title':'Fonction', 'domaine':'fonction'} ) }}
                                {{ include('admin/_entree_unitaire.html.twig',{'title':'Rôle', 'domaine':'role'} ) }}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        {% endif %}
    </div>


{% endblock %}


{% block javascripts %}
{% endblock %}