<section class="col-sm-6 col-md-4 ">
    <strong><i class="fas fa-map-marker-alt mr-1"></i> Adresse</strong>
    <p class="text-muted">
        {% if partenaire.addcomp1 %}
            {{ partenaire.addcomp1 }}<br/>
        {% endif %}
        {% if partenaire.addcomp2 %}
            {{ partenaire.addcomp2 }}<br/>
        {% endif %}
        {% if partenaire.addcp %}
            {{ partenaire.addcp }}
        {% endif %}
        {% if partenaire.addcity %}
            <a href="{{ path('city_show',{id:partenaire.addcity.id}) }}">
            {{ partenaire.addcity.name }}
            </a>
        {% endif %}
    </p>
</section>