{% extends 'base.html.twig' %}

{% set title='Partenaire' %}
{% set route_index='partenaire_index' %}
{% set entityName='partenaire' %}

{% block title %} {{ parent() }} {{title}} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css')) }}">
    <link rel="stylesheet"
          href="{{ absolute_url( asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css')) }}">
{% endblock %}

{% block body_header %}

    {% if paginator.nbrTotal==0 %}
        {% set title='Aucun partenaire trouvé' %}
    {% elseif paginator.nbrTotal==1 %}
        {% set title='1 partenaire trouvé' %}
    {% else %}
        {% set title=paginator.nbrTotal ~' partenaires trouvés' %}
    {% endif %}
    {{ include('admin/_body_header.html.twig', {domaine: title }) }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">

        <div class="col-sm-6 col-md-3 col-xl-2">
            <div class="sticky-top mb-3">

                <h4 class="text-purple mt-5  text-center">
                   &nbsp;
                </h4>

                <div class="card mt-3 bg-light">
                    <div class="card-body row">

                        <div class="col-12">
                            {{ form_row(form.wordSearch) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.city) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.category) }}
                        </div>
                        <div class="col-6 float-left">
                            {{ form_row(form.enable) }}
                        </div>
                        <div class="col-6 float-left">
                            {{ form_row(form.circonscription) }}
                        </div>
                        <div class="d-none">
                            {{ form_row(form.page) }}
                        </div>
                    </div>

                    <div class="card-footer">
                        {{ include('share/__btn_recherche.html.twig') }}

                        <a class="btn bg-info  " onclick="exportData();" data-html="true" data-toggle="tooltip"
                           data-placement="top" title="" data-original-title="Permet d'exporter les données">
                            <i class="fas fa-file-export"></i> Exporter
                        </a>


                    </div>
                    <!-- /.card-body -->
                </div>


                {% if is_granted('ROLE_USER') %}
                    <div class="card-body">
                        {{ include('share/__btn_new.html.twig',
                            {
                                url: 'partenaire_new',
                                title:'Ajouter un partenaire'
                            }) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6  col-md-9 col-xl-10">
            {{ include('share/_paginatorForm.html.twig') }}
            {{ include('partenaire/_view/_table.html.twig') }}
            {{ include('share/_paginatorForm.html.twig') }}
        </div>

    </div>
    {{ form_end(form) }}
    <div class="">
        {{ form_start(formexport, {'action': path('partenaire_export'), 'method': 'POST'}) }}
        <button class="" name="exporter" id="exporter">
            <i class="fas fa-search"></i> exporter
        </button>
        {{ form_end(formexport) }}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ absolute_url( asset('plugins/datatables/jquery.dataTables.js')) }}"></script>
    <script src="{{ absolute_url( asset('plugins/datatables-bs4/js/dataTables.bootstrap4.js')) }}"></script>
    <script src="{{ absolute_url( asset('plugins/datatables-responsive/js/dataTables.responsive.min.js')) }}"></script>
    <script src="{{ absolute_url( asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url( asset('js/datatables/partenaire.js')) }}"></script>
    <script type="text/javascript">
        function exportData() {
            $('#partenaire_export_wordSearch').val($('#partenaire_wordSearch').val());
            $('#partenaire_export_enable').val($('#partenaire_enable').val());
            $('#partenaire_export_city').val($('#partenaire_city').val());
            $('#partenaire_export_category').val($('#partenaire_category').val());
            $('#partenaire_export_circonscription').val($('#partenaire_circonscription').val());
            $('#exporter').click();
        }

        function paginator(page) {
            $('#partenaire_page').val(page);
            $('#recherche').click();
        }

    </script>
{% endblock %}