{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Contacts{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/select2/css/select2.min.css')) }}">
    <link rel="stylesheet"
          href="{{ absolute_url( asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')) }}">

    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css')) }}">


{% endblock %}

{% block body_header %}
    {{ include('admin/_body_header.html.twig', {domaine: 'Contacts' , id : contact.id, index : 'contact_index'}) }}
{% endblock %}

{% block sidebar_sommaire %}

{% endblock %}

{% block sidebar_button %}
    {% if is_granted('ROLE_GESTIONNAIRE') %}

        {{ include('share/__btn_save_onclick.html.twig') }}

        <span class="mb-3"></span>

        <span class="btn btn-danger " onclick="$('#delete').click();">
            <i class="fas fa-trash"></i> Supprimer
        </span>

    {% endif %}


    <span class="mb-3"></span>

    {{ include('share/__btn_return_show.html.twig',
        {   url:'contact_show',
            id:contact.id
        }) }}

    <span class="mb-3"></span>

    {{ include('share/__btn_return_list.html.twig',
        {   url:'contact_index'
        }) }}

{% endblock %}

{% block body %}



    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ form_start(form) }}

            <div class="card ">

                {{ include('contact/_form.html.twig') }}

            </div>

            <div class="d-none">
                {{ include('share/__btn_save.html.twig') }}
                {{ form_rest(form) }}
            </div>

            {{ form_end(form) }}


            <div class="d-none">
                {{ include('share/_delete_form.html.twig',{domaine: 'contact',id:contact.id}) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <!-- Select2 -->
    <script src="{{ absolute_url( asset('plugins/select2/js/select2.full.min.js')) }}"></script>
    <script src="{{ absolute_url( asset('js/add_sidebar.js')) }}"></script>
{% endblock %}

