<div class="col">
    <div class="card ">
        <div class=" card-header bg-purple ">
            <span class="card-title d-flex align-items-center {{ contact.enable?'':'text-danger' }}">
                <i class="fas fa-users mr-2 fa-2x"></i>
                <a class="text-white pl-2" href="{{ path('contact_show',{id:contact.id}) }}" title="Affiche le détail de ce contact">
                    {% if contact.civilite %}
                        {{ contact.civilite.name }}
                    {% endif %} {{ contact.name }}
                </a>
            </span>
        </div>
        <div class="card-body ">
            <h2 class="lead">
                {% if contact.fonction %}
                    <span class="text-muted float-right">
                        <a href="{{ path('fonction_show',{id:contact.fonction.id}) }}">
                            {{ contact.fonction.name }}
                        </a>
                    </span>
                {% endif %}
            </h2>
            <hr/>
            {% if contact.roles %}
                <div class="row">
                    {% for role in contact.roles %}
                        <a class="m-1 btn btn-default" href="{{ path('role_show',{id:role.id}) }}">
                            {{ role.name }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row d-flex justify-content-around align-items-center ">

            </div>
            <ul class="ml-4  fa-ul">
                {{ include('contact/_show/_phone.html.twig') }}
                {{ include('contact/_show/_mail.html.twig') }}
            </ul>

        </div>

        {% if contact.content %}
            <div class="card-footer">
                <p class="text-muted text-sm">{{ contact.content |raw }} </p>
            </div>
        {% endif %}

    </div>
</div>
