<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3  ">
    <div class="card" style="background-image: url('{{ absolute_url( asset('img/carte_visite.jpg')) }}'); ">
        <div class="card-header border-bottom-0 text-lg ">
            <a href="{{ path('user_show',{'id':user.id }) }}">
                <b>{{ user.name }}</b>
            </a>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-7">

                    <p class="text-muted text-sm">
                        {{ user.content }}
                    </p>


                    {%  if user.phone %}
                    <p class="text-muted text-sm">
                        <i class="fas fa-phone mr-1"></i>{{ user.phone }}
                    </p>
                    {% endif %}
                </div>
                <div class="col-5 text-center">
                    <img src="{{ user.avatar.image }}" alt="" class="img-circle img-fluid">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <a href="mailto::{{ user.email }}" class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-envelope mr-1"></i> {{ user.email }}
                </a>

            </div>
        </div>
    </div>
</div>
