{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/select2/css/select2.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css')) }}">
{% endblock %}

{% block body_header %}
    {{ include('admin/_body_header.html.twig', {'domaine': 'Utilisateur' , 'id' : user.id, 'index' : 'user_index'}) }}
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="{{ col_primary }}">
            <div class="card ">
                <div class="card-footer">
                    Les informations de l'utilisateur
                </div>
                {{  include('user/_form.html.twig') }}
                <div class="card-footer">
                    <div class="row">
                        <div class="col  d-flex justify-content-between align-items-center">

                            {{ include('share/__btn_return_list.html.twig',
                                {   'url':'user_index'
                                }) }}

                            {{ include('share/__btn_show.html.twig',
                                {   'url':'user_show',
                                    'id':user.id
                                }) }}

                            {{ include('share/__btn_save.html.twig') }}


                            <span class="btn btn-danger " onclick="$('#delete').click();">
                                 <i class="fas fa-trash"></i> Supprimer
                            </span>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{  include('user/_form_secondary.html.twig') }}

    </div>
    <div class="d-none">
        {{ form_rest(form)  }}
    </div>
    {{ form_end(form) }}


    <div class="d-none">
        {{ include('share/_delete_form.html.twig',{'domaine':'user','id':user.id}) }}
    </div>
{% endblock %}



{% block javascripts %}
    <!-- Select2 -->
    <script src="{{ absolute_url( asset('plugins/select2/js/select2.full.min.js')) }}"></script>

{% endblock %}
