{% extends 'base.html.twig' %}

{% set title='Utilisateurs' %}
{% set route_index='user_index' %}
{% set entityName='user' %}
{% set entity=user %}

{% block title %}{{ parent() }} {{ title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css')) }}">
{% endblock %}

{% block body_header %}
    {{ include('admin/_body_header.html.twig', {domaine: title , id : entity.id, index :route_index}) }}
{% endblock %}

{% block sidebar_sommaire %}
    <li class="nav-item ">
        <a class="nav-link" href="#anchor_contact">
            <i class="fas fa-users"></i> Contacts
        </a>
    </li>
{% endblock %}

{% block sidebar_button %}
    {% if is_granted('ROLE_GESTIONNAIRE') %}

        {{ include('share/__btn_edit.html.twig',
            {   'url':entityName ~'_edit',
                'id':entity.id
            }) }}

        <span class="mb-3"></span>

        <span class="btn btn-danger " onclick="$('#delete').click();">
            <i class="fas fa-trash"></i> Supprimer
        </span>

    {% endif %}

    <span class="mb-3"></span>

    {{ include('share/__btn_return_list.html.twig',
        {   url:route_index
        }) }}
{% endblock %}



{% block body %}
    <div class="row justify-content-center">
        <div class="{{ col_primary }}">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="{{ entity.avatar.image }}"
                             alt="User profile picture">
                    </div>

                    <h3 class="profile-username text-center">{{ entity.name }}</h3>

                    <p class="text-muted text-center">{{ entity.email }}</p>

                    <small class="float-right">
                        {% if entity.enable %}
                            <span class="text-success">Visible</span>
                        {% else %}
                            <span class="text-danger">Masquée</span>
                        {% endif %}
                    </small>
                </div>
            </div>


            {% if entity.emailvalidated == false %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Adresse mail non vérifiée !</h5>
                    <p>
                        Attention votre adresse mail n'a pas encore été vérifiée.
                    </p>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-footer">
                    données
                </div>
                <div class="card-body">
                    {% if entity.phone %}
                        <div class="row">
                            <div class="col-3">
                                <b>Téléphone</b>
                            </div>
                            <div class="col-9">
                                {{ entity.phone }}
                            </div>
                        </div>
                    {% endif %}

                    {% if entity.loginat %}
                        <div class="row">
                            <div class="col-3">
                                <b>Dernière connexion</b>
                            </div>
                            <div class="col-9">
                                {{ user.loginat?user.loginat|date("d/m/Y", "Europe/Paris") }}
                            </div>
                        </div>
                    {% endif %}

                    {% if entity.createdat %}
                        <div class="row">
                            <div class="col-3">
                                <b>Date de création</b>
                            </div>
                            <div class="col-9">
                                {{ user.createdat?user.createdat|date("d/m/Y", "Europe/Paris") }}
                            </div>
                        </div>
                    {% endif %}

                    {% if entity.modifiedat %}
                        <div class="row">
                            <div class="col-3">
                                <b>Dernière modification</b>
                            </div>
                            <div class="col-9">
                                {{ user.modifiedat?user.modifiedat|date("d/m/Y", "Europe/Paris") }}
                            </div>
                        </div>
                    {% endif %}

                    {% if entity.content %}
                        <div class="row">
                            <div class="col-3">
                                <b>Description</b>
                            </div>
                            <div class="col-9">
                                {{ entity.content }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="card">
                <div class="card-footer">
                    Habilitations
                </div>
                <div class="list-group list-group-flush dropright">
                    <div class="list-group-item list-group-item-action">
                        {% if 'ROLE_ADMIN' in entity.roles %}
                            <span class="text-success"><i class="fas fa-check"></i> Administrateur</span>
                        {% else %}
                            <span class="text-danger"><i class="fas fa-times"></i> Administrateur</span>
                        {% endif %}
                    </div>
                    <div class="list-group-item list-group-item-action">
                        {% if 'ROLE_GESTIONNAIRE' in entity.roles %}
                            <span class="text-success"><i class="fas fa-check"></i> Gestionnaire</span>
                        {% else %}
                            <span class="text-danger"><i class="fas fa-times"></i> Gestionnaire</span>
                        {% endif %}
                    </div>
                    <div class="list-group-item list-group-item-action">
                        {% if 'ROLE_EDITEUR' in entity.roles %}
                            <span class="text-success"><i class="fas fa-check"></i> Editeur</span>
                        {% else %}
                            <span class="text-danger"><i class="fas fa-times"></i> Editeur</span>
                        {% endif %}
                    </div>
                    <div class="list-group-item list-group-item-action">
                        {% if 'ROLE_USER' in entity.roles %}
                            <span class="text-success"><i class="fas fa-check"></i> Utilisateur</span>
                        {% else %}
                            <span class="text-danger"><i class="fas fa-times"></i> Utilisateur</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="d-none">
                {{ include('share/_delete_form.html.twig',{domaine: entityName ,id:entity.id}) }}
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ absolute_url( asset('js/add_sidebar.js')) }}"></script>
{% endblock %}
